body{font-family: Helvetica, sans-serif;
    font-weight: 600;



}
.header {
    text-align: center;
    width: auto;
    height: auto;
    top: 0;
    margin: -22px 0px -22px;
    background: #ed3b59;
    color: white;
    box-shadow: 1px 1px 10px black;
    font-family: Helvetica, sans-serif;
}

.header h1{
    padding: 10px;
  
    background: #ed3b59;
    color: white;

}
@font-face {
	
	font-family:Helvetica; src:url('/ressources/fonts/Helvetica.ttf');
	font-family:aida; src:url('/ressources/fonts/aida.ttf');
}

.bloc-table{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    /*flex-wrap: wrap;*/
    padding: 20px;
    z-index: 1;
}
.bloc1{
    flex: 33%;
    width: 16.5%;
    margin-bottom: 25px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 12px black;
    margin-right: 15px;
    
}

.bloc1:hover a,.bloc2:hover a,.bloc3:hover a,.bloc4:hover a,.bloc5:hover a{
    color: #ed3b59;
}
.bloc1:hover,.bloc2:hover,.bloc3:hover,.bloc4:hover,.bloc5:hover{
    transform: scale(1.05);
}

.bloc2{
    flex: 33%;
    width: 16.5%;
    margin-bottom: 25px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 12px black;
    margin-right: 15px;
}
.bloc3{
    flex: 33%;
    width: 16.5%;
    margin-bottom: 25px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 12px black;
    margin-right: 15px;
}
.bloc4 {
    flex: 33%;
    width: 16.5%;
    margin-bottom: 25px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 12px black;
    margin-right: 15px;
}
.bloc5{
    flex: 33%;
    width: 16.5%;
    margin-bottom: 25px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 12px black;
    margin-right: 15px;
}

.bloc-table2{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;
    z-index: 1;
    
}
.bloc11{
    flex: 33%;
    
    padding: 2px;
    background: white;
    border: ridge #ed3b59 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 12px black;
}
.bloc12{
    
    padding: 2px;
    border: ridge #ed3b59 10px;
    overflow: hidden;
    height: 100px;
    width: 300px;
    text-align: right;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 12px black;
}
.table{
    margin: 10px;
}
.bloc12 h2{
    text-align: left;
}

a{
    text-decoration: none;
    color: black;
}
img{

width: 100%;


}
.bloc13{
    padding: 2px;
    overflow: hidden;
    background-color: #ed3b59;
    height: 40px;
    width: 27%;
    right: -35%;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 12px black;
}
.bloc13 a{
    color:white ;
}
